:root {
  --main-brown-color: #3f372c;
  --main-yellow-color: #dbbd8b;
  --light-yellow-color: #e8d5b5;
  --dark-grey-color: #3c3c3c;
  --light-grey-color: #d3d3d3;
  --danger-color: #c0817f;
  --success-color: #7bc582;
  --calendar-highlight: #c96565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 26px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: var(--main-brown-color);
}

a {
  width: 100%;
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}

input {
  font-size: inherit;
}

.MainContainer {
  margin: 0 auto;
  max-width: 960px;
  height: calc(100% - 6rem);
}

.csContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 3fr 10fr;
  height: 100%;
}

.defaultContainer {
  padding: 0 5%;
  margin-bottom: 5%;
}

.title {
  text-transform: uppercase;
  color: var(--main-brown-color);
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  body {
    font-size: 22px;
  }

  .csContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }

  .csContainer > div:first-child {
    order: 2;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  body {
    font-size: 20px;
  }

  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 18px;
  }
}

/* ARROW OF ON INPUT TYPE NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Widget File Upload */

.uploadcare--widget {
  width: 100%;
}

.uploadcare--widget__button {
  background-color: var(--main-yellow-color);
  outline: none;
  border-radius: 0;
  padding: 0.4rem 0.5rem;
  border: 1px solid var(--light-grey-color);
  width: 100%;
  white-space: normal;
}

.uploadcare--widget__file-size {
  display: none;
}

.uploadcare--widget__file-name,
.uploadcare--widget__file-name:hover,
.uploadcare--widget__file-name:focus {
  color: transparent;
  outline: none;
}

.uploadcare--widget__file-name:before {
  content: "Изменить";
  color: white;
  background-color: var(--main-yellow-color);
  padding: 8px 10px;
}

.uploadcare--widget__text {
  padding: 0;
}
