.searchbarItem {
  position: relative;
}

.loupe {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 0;
  left: 5px;
}

.searchInput {
  width: 100%;
  border: 2px solid black;
  font-size: 1.5rem;
  border-radius: 2rem;
  background-color: white;
  padding: 0.5rem 0% 0.5rem 55px;
  outline: none;
}
