.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.checkContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.checkContainer > label {
  text-align: center;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.add {
  border: 1px solid var(--light-grey-color);
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  width: min-content;
  padding: 0.5rem;
}

.add:hover {
  background: var(--success-color);
}
