.container {
  padding: 0 5%;
}

.header {
  display: grid;
  grid-template-columns: 180px 1fr;
}

.imgSection {
  background-color: var(--light-grey-color);
  border-radius: 2rem;
  height: 180px;
}

.imgCover {
  border-radius: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.mainInfo {
  padding: 0 5%;
}

.name {
  text-transform: capitalize;
  color: var(--main-brown-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.username {
  color: var(--dark-grey-color);
}

.bodyContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.soonWorkshifts {
  padding-right: 10%;
}

.soonWorkshifts_header {
  background-color: var(--main-yellow-color);
  border-top-right-radius: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 5% 0;
}

.soonWorkshifts_body {
  margin-top: 1rem;
  padding: 1rem;

  background: linear-gradient(
    var(--main-yellow-color),
    var(--light-yellow-color)
  );
  border-bottom-right-radius: 2rem;
}

.notFound {
  padding: 5% 0;
  font-weight: 500;
}

@media screen and (max-width: 540px) {
  .bodyContainer {
    grid-template-columns: 1fr;
  }

  .soonWorkshifts {
    padding-right: 0;
  }

  .soonWorkshifts_header,
  .soonWorkshifts_body {
    border-radius: 0;
  }
}
