.formHeader {
  margin-top: 20px;
  padding: 10px;

  border: 1px solid var(--main-brown-color);
  display: grid;
  grid-template-columns: 170px 1fr;
  align-items: center;
}

.imgSection {
  height: 200px;
  background: var(--light-grey-color);
  border: 1px solid var(--light-grey-color);
  margin-right: 10px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.typeContainer {
  margin: 20px 0;
}

.type {
  height: 40px;
  width: 100%;
  font: inherit;
}

.mainFields {
  padding: 0 20px;
}

.error {
  padding: 0 5px;
  font-size: 22px;
  color: var(--danger-color);
}
