.cardContainer {
  margin-top: 2rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
