input[type="file"] {
  display: none;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 15px;
}
.itemName {
  justify-self: start;
}

.itemSetter {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fileUpload {
  border: 1px solid var(--light-grey-color);
  padding: 7px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
}

.textInput {
  min-width: 1rem;
  padding: 0.25rem 1rem;
  border: 1px solid var(--light-grey-color);
  font-size: 1.5rem;
  width: 100%;
}
