.todayBlock {
  color: var(--main-brown-color);
}

.todayBlockHeader {
  background-color: var(--light-grey-color);
  border-top-left-radius: 25px;
  padding: 13px 0;
  text-align: center;
}

.todayBlockBody {
  background-color: var(--light-grey-color);
  border-bottom-left-radius: 25px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0;
}

.today {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.day {
  font-weight: 500;
  font-size: 2rem;
}
.month {
  margin-top: 15px;
}
