.todayBlock {
  color: var(--main-brown-color);
}

.todayBlockHeader {
  background-color: var(--light-grey-color);
  border-top-left-radius: 2rem;
  padding: 5% 0;
  text-align: center;
}

.todayBlockBody {
  background-color: var(--light-grey-color);
  border-bottom-left-radius: 2rem;
  margin-top: 1rem;
  text-align: center;
  padding: 5% 0;
}

.today {
  font-weight: 600;
  text-transform: uppercase;
}
.day {
  font-weight: 500;
}
.month {
  margin-top: 15px;
}

@media screen and (max-width: 540px) {
  .todayBlockHeader {
    display: none;
  }
  .todayBlockHeader,
  .todayBlockBody {
    border-radius: 0;
  }
}
