.calendar {
  display: grid;
  grid-template-columns: 5fr 4fr;
  align-content: center;
}

.namefield {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.name {
  font-weight: 600;
  color: var(--main-brown-color);
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.changeIcon {
  height: 30px;
  width: 30px;
}

.calendarBox {
  margin: 0 auto;
  border: 1px solid var(--dark-grey-color);
  border-radius: 0, 25rem;
  max-width: 400px;
}

@media screen and (max-width: 720px) {
  .calendarBox {
    margin-bottom: 2rem;
  }

  .calendar {
    grid-template-columns: 1fr;
  }

  .namefield {
    justify-content: center;
  }
}
