.container {
  height: 550px;
  background: linear-gradient(
    var(--main-yellow-color),
    var(--light-yellow-color)
  );
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
