.container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: default;
  text-align: center;
}

.text {
  text-transform: capitalize;
  color: var(--dark-grey-color);
}

.container:hover {
  background-color: var(--light-yellow-color);
}
