.bg {
  background: linear-gradient(
    var(--main-yellow-color),
    var(--light-yellow-color)
  );
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  place-items: center;
}

.innerContainer {
  border: 1px solid var(--dark-grey-color);
  display: grid;
  width: min-content;
  padding: 0 5% 5% 5%;
}

.switcher {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.label {
  color: var(--dark-grey-color);
  cursor: pointer;
}

.label:nth-child(1n) {
  margin-right: 1rem;
}

.label:hover,
.active {
  color: var(--main-brown-color);
  box-shadow: 0 -2px var(--dark-grey-color);
}

.hr {
  height: 1px;
  background-color: var(--main-brown-color);
  margin: 1rem 0;
}

@media screen and (max-width: 540px) {
  .container {
    padding: 10%;
  }
}
