.bg {
  background: linear-gradient(
    var(--main-yellow-color),
    var(--light-yellow-color)
  );
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.container {
  padding: 10% 25%;
  align-items: center;
  height: min-content;
}

.innerContainer {
  border: 1px solid var(--dark-grey-color);
  padding: 0 10% 5% 10%;
  align-items: center;
}

.switcher {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.hr {
  height: 1px;
  background-color: var(--main-brown-color);
  margin: 15px 0;
}

.label {
  color: var(--dark-grey-color);
  cursor: pointer;
}

.label:hover {
  color: var(--main-brown-color);
}

.active {
  color: var(--main-brown-color);
}

@media screen and (max-width: 540px) {
  .container {
    padding: 10%;
  }
}
