.button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-brown-color);
}
.nav {
  height: 72px;
  background-color: var(--main-yellow-color);
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemContainer {
  flex-grow: 1;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;

  color: var(--main-brown-color);
}

.item {
  display: inline-block;
  margin-right: 30px;
  transition: 0.2s ease-in-out;
}

.pages .item:hover {
  color: black;
  transform: translateY(-5px);
}

.logo {
  width: 230px;
  display: inline-block;
  text-align: center;
}

.logo svg {
  width: 50px;
  display: inline-block;
  padding-top: 5px;
}

.exitSvg {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.exitSvg svg {
  position: absolute;
  bottom: -4px;
  right: 0px;
}

.active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
