.item {
  background-color: var(--main-brown-color);
  padding: 0.25rem 0;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border: 1px solid transparent;
}

.item:hover {
  background-color: inherit;
  border: 1px solid black;
}

.item:hover .innerText {
  color: black;
  font-weight: 600;
}

.item:hover svg rect,
.item:hover svg path {
  fill: black;
}

.innerText {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 10%;
}

.item svg {
  display: inline-block;
  padding-right: 5%;
  width: 2rem;
  height: 2rem;
}

.active .item {
  background-color: inherit;
  border: 1px solid black;
}

.active .item .innerText {
  color: black;
  font-weight: 600;
}

.active svg rect,
.active svg path {
  fill: black;
}

@media screen and (max-width: 720px) {
  .item {
    justify-content: center;
    width: 100%;
  }

  .innerText {
    display: none;
  }
}
